@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;900&display=swap");

:root {
  --primary: #1f2937;
  --primary-light: #2f3e54;
  --secondary: #0887f0;
  --grey: #a0acbe;
  --white: white;
  --lobster: "Lobster", cursive;
  --roboto: "Roboto", sans-serif;
}
